{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<main class="container">
    <div>
        <h1>
            SalesForce Idéation
        </h1>
        <a class="btn btn-primary m-0" href="{{ path('idea_new') }}">Ajouter une idée!</a>
    </div>


    {% for idea in ideas %}
        <div>
            <h2>{{ loop.index }} / {{ idea.title }} {{ idea.perimeter }}</h2>
        </div>  
    {% endfor %}
</main>
{% endblock %}