{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="col-11 col-sm-10">
    <h1 class="text-center">
        SalesForce Idéation
    </h1>
    <a class="btn btn-primary m-0" href="{{ path('new_idea')}}">Ajouter une idée!</a>
    {% for idea in ideas %}
    <div>
        <h2>{{ loop.index }} / {{ idea.title }} {{ idea.service }}</h2>
    </div>
    {% endfor %}
    {% endblock %}