{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<main class="container">
    <div>
        <h1>
            SalesForce Idéation
        </h1>
        <a class="btn btn-primary m-0" href="{{ path('new_idea')}}">Ajouter une idée!</a>
    </div>
</main>
{% endblock %}
