{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div>
    <h1 class="text-center">
        SalesForce Idéation
    </h1>
    <a class="btn btn-primary m-0" href="">Ajouter une idée!</a>
    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam quia eos magnam! Ad unde nisi ipsa
        repudiandae magnam laboriosam vel expedita vitae eos beatae dolore recusandae excepturi quod, est doloremque
        laborum numquam non aspernatur error iure, tempore consequatur? Soluta, minus modi? Libero officiis
        dignissimos placeat, ducimus ipsum magnam ut doloribus eum vero aliquid nam voluptas quo, quae sapiente
        ratione possimus cum quidem eligendi, illum dolores harum voluptatibus! Accusantium reiciendis quae iste
        iusto impedit neque id, saepe consequatur facere quas animi velit porro repellat commodi fuga ipsam
        perspiciatis ducimus unde esse accusamus recusandae? Harum blanditiis consequuntur eum optio a quos sint
        deserunt hic dolores nam dolore officiis, id eius reprehenderit non tempora facere nulla? Ut temporibus
        magnam reiciendis, in ab quos ex praesentium eveniet dolorum asperiores ratione pariatur, doloribus quo
        atque ad at maxime rerum quidem porro deleniti eius natus quis, dicta veniam. Reprehenderit, quod nihil in
        non, consequatur est, dolor vero mollitia corrupti cumque laboriosam! Quas, veritatis cumque ea excepturi
        cum ipsam obcaecati mollitia deleniti dolor nemo veniam commodi doloribus iste eaque ut aspernatur dicta
        distinctio autem, consequuntur consectetur? Voluptatibus quo, optio culpa nulla cum, adipisci itaque amet,
        eius laudantium est error maxime ea nihil fugiat quia laboriosam doloribus facere.</h2>
</div>
{% endblock %}