{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1 class="text-center">
    SalesForce Idéation
</h1>
{% for idea in ideas %}
<div>
    <h2>{{ loop.index }} / {{ idea.title }} {{ idea.service }}</h2>
</div>
{% endfor %}
{% endblock %}