{% extends 'loginBase.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

<main class="container">
    <div class="text-center">
        <h1>Bienvenue</h1>
        <h2>Veuillez choisir une nouveau mot de passe pour accéder à la plateforme</h2>
        <img src="{{ asset('build/images/logo.png')}}" alt="logo" class="my-3" id="login-logo">
    </div>

    <div class="d-flex justify-content-center">
        <div class="col-9 col-md-6">
            <div class="p-2 my-5 shadow-lg rounded-2">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success" type="submit">Enregistrez votre nouveau mot de passe</button>
                </div>
                {{ form_end(form) }}

            </div>
        </div>

    </div>
</main>
{% endblock %}