$primary: (#0d9dda);
$secondary: (#002e5f);
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

//-------- Top Navbar --------//

.logo {
    width: 4rem;
}

//-------- Side Navbar --------//

#sidebar a,
#sidebar .btn {
    transition: all 0.2s ease-in-out;
}

#sidebar a:hover,
#sidebar .btn:hover {
    transform: scale(1.1);
    background-color: $secondary;
    border-radius: 10px;
}

//-------- Login page --------//

#login-logo {
    width: 150px;
}

//-------- Profil page --------//

.profile-picture {
    width: 200px;
    height: 200px;
}
