$primary: (#0d9dda);
$secondary: (#002e5f);
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

//-------- Top Navbar --------//

.logo {
    width: 4rem;
}

//-------- Side Navbar --------//

#sidebar li {
    transition: all 0.2s ease-in-out;
}

#sidebar li:hover {
    transform: scale(1.1);
    background-color: $secondary;
}

#sidebar .btn:hover {
    transition: all 0.2s ease-in-out;
}

#sidebar .btn:hover {
    transform: scale(1.1);
    background-color: $secondary;
}
