{% extends 'base.html.twig' %}

{% block title %}Modifier mon idée{% endblock %}

{% block body %}
<main>

    <h1>Modifier votre idée</h1>
    <div class="d-flex justify-content-center">
        <div class="col-9 col-md-6">
            <div class="p-2 my-5 shadow-lg rounded-2">

                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success" type="submit">Modifier</button>
                    <a class="btn btn-danger m-0 " href="{{ path('app_home')}}">Annuler</a>
                </div>
                {{ form_end(form) }}

            </div>

</main>
{% endblock %}