<div class="col-auto col-md-2 px-0">
    <div id="sidebar" class="bg-secondary collapse collapse-horizontal show border-end">
        <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
            <ul class="list-unstyled text-center">
                <a href="/" class="nav-link">
                    <li class="p-2 text-white">
                        <i class="bi bi-house-fill"></i>Accueil
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>