<div class="col-auto col-md-2 px-0">
    <div id="sidebar" class="bg-primary collapse collapse-horizontal show border border-light rounded-end shadow-lg">
        <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
            <ul class="list-unstyled text-center">
                <button type="button" class="btn text-reset d-md-none" data-bs-dismiss="offcanvas" aria-label="Close"><i
                        class="bi bi-x-circle-fill fs-4 text-white"></i></button>
                <a href="/" class="nav-link">
                    <li class="p-3 text-white fs-5">
                        <i class="bi bi-house-fill"></i> Accueil
                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>