<div class="col-auto px-0 bg-primary">
    <div id="sidebar" class="collapse collapse-horizontal show border-end">
        <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
            <a href="#" class="list-group-item border-end-0 d-inline-block text-truncate"
                data-bs-parent="#sidebar">Item</a>
        </div>
    </div>
</div>