<nav class="navbar navbar-expand-md shadow-lg bg-light w-100">
    <div class="container-fluid">
        <img src="{{ asset('build/images/logo.png')}}" alt="logo" class="logo">

        <a class="btn btn-primary m-0 shadow-lg" href="{{ path('idea_new')}}">Ajouter une idée!</a>

        <button class="btn float-end bg-primary navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
            type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>