<nav class="navbar navbar-expand-md shadow-lg bg-light w-100 sticky-top">
    <div class="container-fluid">
        <img src="{{ asset('build/images/logo.png')}}" alt="logo" class="logo">

        <h1 class="d-none d-md-block text-secondary m-0">
            Salesforce Idéation
        </h1>

        <a class="btn btn-primary m-0 shadow-lg text-white" href="{{ path('idea_new')}}">Ajouter une idée!</a>

        <button class="btn float-end bg-primary navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
            type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>