{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<main class="container">
    <h1>Modifier informations utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a class="btn btn-primary" href="{{ path('app_user_index') }}">Retour à la liste des utilisateurs</a>
</main>
{% endblock %}
